{% extends '../layouts/application.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Sign up</h1>
    <form action="users/sign_up" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>

      <div class="form-group">
        <p class="help-block">
          By signing up, you are agreeing to our
          <a href="#">Terms of service</a>
          and
          <a href="#">Privacy policy</a>
        </p>
      </div>

      <button type="submit" class="btn btn-default">Sign up</button>
    </form>
  </div>
</div>
{% endblock %}
